.container-metricas {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    gap: 32px; 
}

.container-cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 12px;
    font-size: 16px;
}